<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>13344232342-do529o8m0gp579okv2t3pvfe1aoi4mhe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13344232342-do529o8m0gp579okv2t3pvfe1aoi4mhe</string>
	<key>API_KEY</key>
	<string>AIzaSyDWrw1HQ7lVH7VEb_vzQF42wBm-vGqSz08</string>
	<key>GCM_SENDER_ID</key>
	<string>13344232342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Piano.Light</string>
	<key>PROJECT_ID</key>
	<string>piano-473ab</string>
	<key>STORAGE_BUCKET</key>
	<string>piano-473ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13344232342:ios:d8d44ab1b7b3a1c7</string>
	<key>DATABASE_URL</key>
	<string>https://piano-473ab.firebaseio.com</string>
</dict>
</plist>