<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.pianonoteapp.product.addshortcut1</string>
	<string>com.pianonoteapp.product.addshortcut2</string>
	<string>com.pianonoteapp.product.addshortcut3</string>
	<string>com.pianonoteapp.product.addshortcut4</string>
</array>
</plist>
